Node-RED/flows.json
[{"id":"8f6a96f8.6416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9e2c8d29.ce103","type":"ui_form","z":"8f6a96f8.6416f8","name":"","label":"","group":"d52ce76d.53fbf8","order":1,"width":13,"height":"3","options":[{"label":"Enter your input: ","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":280,"y":260,"wires":[["54185114.69a1e"]],"icon":"node-red/watch.svg"},{"id":"54185114.69a1e","type":"function","z":"8f6a96f8.6416f8","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["880fc872.3b0478","bde14755.2b0398"]]},{"id":"fc2127e6.efa578","type":"function","z":"8f6a96f8.6416f8","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":180,"wires":[["d6ca8e3e.d244f"]]},{"id":"880fc872.3b0478","type":"watson-conversation-v1","z":"8f6a96f8.6416f8","name":"Customer Help Desk","workspaceid":"546f10d9-6c21-4bf6-b5c8-84709786c74f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e46a06b2-a616-4606-a5d1-20230a93f04c","timeout":"","optout-learning":false,"x":700,"y":100,"wires":[["e3910a97.495d38","fc2127e6.efa578"]]},{"id":"bde14755.2b0398","type":"ui_text","z":"8f6a96f8.6416f8","group":"d52ce76d.53fbf8","order":2,"width":13,"height":2,"name":"","label":"You:","format":"{{msg.payload}}","layout":"row-center","x":630,"y":320,"wires":[]},{"id":"e3910a97.495d38","type":"debug","z":"8f6a96f8.6416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":40,"wires":[]},{"id":"d6ca8e3e.d244f","type":"ui_text","z":"8f6a96f8.6416f8","group":"d52ce76d.53fbf8","order":3,"width":13,"height":3,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":1070,"y":300,"wires":[]},{"id":"d52ce76d.53fbf8","type":"ui_group","z":"","name":"Chat Bot","tab":"cc2c2d10.55483","order":1,"disp":true,"width":13,"collapse":false},{"id":"cc2c2d10.55483","type":"ui_tab","z":"","name":"Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false}]